<div class="card my-5">
    <div class="card-body">
        <form [formGroup]="addInvoiceForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
            <label for="date">
                Date:
                <input class="form-control" type="date" formControlName="date">
            </label>
            </div>
        
            <div class="form-group">
            <label>
                Mileage:
                <input class="form-control" type="text" formControlName="mileage">
            </label>
            </div>

            <div class="form-group">
            <label>
                ServiceProvider:
                <select class="form-control" formControlName="serviceProviderId">
                    <option *ngFor="let provider of serviceProviders" [value]="provider.id">
                        {{provider.name}}
                    </option>
                </select>
            </label>
            </div>

            <div class="form-group">
            <label>
                ServicePerformed:
                <input class="form-control" type="text" formControlName="servicePerformed">
            </label>
            </div>

            <div class="form-group">
                <label>
                    Invoice PDF:
                    <input class="form-control" type="file" (change)="onSelectFile($event)">
                </label>
                </div>
            
            <button class="btn btn-info" type="submit" [disabled]="!addInvoiceForm.valid">Submit</button>
        </form>

        <p>
            Form value: {{addInvoiceForm.value | json}}
        </p>

    </div>
</div>