<div class="card my-5">
    <div class="card-body">

        <label>
            Search by Vendor:
            <input #vendor type="text">
        </label>

        <button (click)="searchByVendor(vendor.value)">search</button>

        <label>
            Search by Repair:
            <input #repair type="text">
        </label>

        <button (click)="searchByRepair(repair.value)">search</button>
        
        <div *ngIf="invoices.length > 0; else elseBlock">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Mileage</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Repair</th>
                        <th scope="col">Actions</th>
    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoice of invoices">
                        <td>{{invoice.date}}</td>
                        <td>{{invoice.mileage}}</td>
                        <td>{{invoice.vendor.name}}</td>
                        <td>{{invoice.repair.name}}</td>
                        <td><a href="{{invoice.filePath}}" class="btn btn-info">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ng-template #elseBlock>
            <div>
                No invoices to be found with search term.
            </div>
        </ng-template>

    </div>
</div>
